NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secret
API_URL=https://go.paxintrade.com
NEXT_PUBLIC_WEBSITE_URL=https://www.paxintrade.com
NEXT_PUBLIC_API_URL=https://go.paxintrade.com
NEXT_PUBLIC_SOCKET_URL=go.paxintrade.com
NEXT_PUBLIC_IS_PRODUCTION=false
NEXT_PUBLIC_PAXMEET_SERVER_URL=https://meet.paxintrade.com/api
NEXT_PUBLIC_PAXMEET_API_KEY=paxmeet
NEXT_PUBLIC_PAXMEET_API_SECRET=
AI_BLOG_ASSISTANT_API_URL=https://ai-blog-assistant.paxintrade.com
AI_CHAT_ASSISTANT_API_URL=https://ai-chat-assistant.paxintrade.com