// Dark Mode Design Updates
.dark {
  .main-app-bg {
    &::before {
      @apply absolute h-full w-full bg-[#001222] opacity-70 content-[''];
    }
  }
  .waiting-room {
    &::before {
      @apply absolute h-full w-full bg-[#001222] opacity-70 content-[''];
    }
  }
  .error-app-bg {
    &::before {
      @apply absolute h-full w-full bg-[#001222] opacity-70 content-[''];
    }
  }
  .multi-gradient {
    background: #161616;
  }
  #main-area.fullWidthMainArea {
    .all-webcam-wrapper {
      background: #161616;
    }
  }
  .message-form {
    background: transparent;
  }
  .Toastify__toast {
    background: #222;
    color: #fff;
  }
  button.Toastify__close-button {
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .wb-page-navigation {
    button {
      &:disabled {
        background-color: var(--button-gray-1) !important;
      }
    }
  }
  .header-before-start {
    opacity: 0.4;
  }
  .header-before-end {
    opacity: 0.1;
  }
  .select-camera-number {
    color: #a7cced;
    select#select-camera-num {
      border-color: #a7cced;
    }
  }
}
// Dark Mode Design Updates
