@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 166.2 100% 30.6%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 166.2 100% 30.6%;
    --primary-foreground: 0 0% 100%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .bg-primary {
    background: linear-gradient(90deg, #00b887 0%, #01b6d3 100%),
      linear-gradient(7deg, #7b2bcc 21.22%, #2296f3 88.72%);
  }

  .text-gradient {
    background: linear-gradient(
      90deg,
      #575757 0%,
      rgba(82, 93, 90, 0.98) 36.43%,
      rgba(0, 184, 135, 0.7) 46.56%,
      rgba(0, 184, 135, 0.7) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dark .text-gradient {
    background: linear-gradient(
      90deg,
      #fff 0%,
      rgba(255, 255, 255, 0.98) 36.43%,
      rgb(103, 255, 215) 46.56%,
      rgb(103, 255, 215) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* This will change the scrollbar color for Webkit browsers like Chrome, Safari */
  ::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* color of the tracking area */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #f0f0f0;
    /* creates padding around scroll thumb */
  }

  /* change color on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
