body {
  font-size:1em;
}

.bg-with-gradient {
  background: linear-gradient(0deg, #f3f4f6 0%, #f3f4f6 100%),
    linear-gradient(7deg, #7b2bcc 21.22%, #2296f3 88.72%);
}

.dark .bg-with-gradient {
  background: linear-gradient(
      181deg,
      rgba(255, 255, 255, 0.06) -3.73%,
      rgba(255, 255, 255, 0) 99.29%
    ),
    rgba(255, 255, 255, 0.06);
}

.bg-radial-gradient {
  background: radial-gradient(
      100% 100% at 50% 50%,
      rgba(0, 184, 135, 0.75) 0%,
      rgba(1, 182, 211, 0.58) 100%
    ),
    #00b887;
}

.bg-radial-gradient-2 {
  background: radial-gradient(
      100% 100% at 50% 50%,
      rgba(0, 184, 135, 0.75) 0%,
      rgba(1, 182, 211, 0.58) 100%
    ),
    rgba(0, 0, 0, 0.5);
}

.break-inside {
  break-inside: avoid
}


.hero-gradient{
  position: absolute;
  width: 1000px;
  height: 700px;
  border-radius: 50%;
  z-index: -1;
  /* background: linear-gradient(#00B887, #01B6D3,#01B6D3); */
  /* animation: animate 3.5s linear infinite; */
}




@media (min-width: 50px) {
  .hero-gradient {
    width: 115px;
    height: 140px;
  }
  .slider-h {
    height:100px;
  }
}

@media (min-width: 100px) {
  .hero-gradient {
    width: 115px;
    height: 240px;
  }
  .slider-h {
    height:100px;
  }
}

@media (min-width: 200px) {
  .hero-gradient {
    width: 135px;
    height: 60px;
  }
  .slider-h {
    height:120px;
  }
}

@media (min-width: 250px) {
  .hero-gradient {
    width: 165px;
    height: 100px;
  }
  .slider-h {
    height:150px;
  }
}

@media (min-width: 280px) {
  .hero-gradient {
    width: 195px;
    height: 100px;
  }
  .slider-h {
    height:170px;
  }
}


@media (min-width: 300px) {
  .hero-gradient {
    width: 235px;
    height: 120px;
  }
  .slider-h {
    height:175px;
  }
}


@media (min-width: 325px) {
  .hero-gradient {
    width: 235px;
    height: 120px;
  }
  .slider-h {
    height:180px;
  }
}


@media (min-width: 330px) {
  .hero-gradient {
    width: 235px;
    height: 120px;
  }
  .slider-h {
    height:190px;
  }
}




@media (min-width: 350px) {
  .hero-gradient {
    width: 265px;
    height: 150px;
  }
  .slider-h {
    height:200px;
  }
}

@media (min-width: 360px) {
  .hero-gradient {
    width: 235px;
    height: 120px;
  }
  .slider-h {
    height:220px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
.clip-d {
  clip-path:inset(0 -100vmax);
  box-shadow: 0 0 0 100vmax #fff
  }
}

@media (min-width: 375px) {
  .hero-gradient {
    width: 285px;
    height: 160px;
  }
  .slider-h {
    height:215px;
  }
}

@media (min-width: 390px) {
  .hero-gradient {
    width: 315px;
    height: 160px;
  }
  .slider-h {
    height:220px;
  }
}

@media (min-width: 395px) {
  .hero-gradient {
    width: 235px;
    height: 120px;
  }
  .slider-h {
    height:230px;
  }
}



@media (min-width: 410px) {
  .hero-gradient {
    width: 340px;
    height: 190px;
  }
  .slider-h {
    height:240px;
  }
}


@media (min-width: 414px) {
  .hero-gradient {
    width: 340px;
    height: 200px;
  }
  .slider-h {
    height:250px;
  }
}




@media (min-width: 430px) {
  .hero-gradient {
    width: 330px;
    height: 190px;
  }
  .slider-h {
    height:245px;
  }
}


@media (min-width: 435px) {
  .slider-h {
    height:265px;
  }
}


@media (min-width: 460px) {
  .hero-gradient {
    width: 380px;
    height: 230px;
  }
  .slider-h {
    height:280px;
  }
}

@media (min-width: 470px) {
  .hero-gradient {
    width: 380px;
    height: 230px;
  }
  .slider-h {
    height:285px;
  }
}

@media (min-width: 500px) {
  .hero-gradient {
    width: 430px;
    height: 240px;
  }
  .slider-h {
    height:310px;
  }
}



@media (min-width: 530px) {
  .hero-gradient {
    width: 450px;
    height: 270px;
  }
  .slider-h {
    height:320px;
  }
}

@media (min-width: 540px) {
  .hero-gradient {
    width: 450px;
    height: 270px;
  }
  .slider-h {
    height:350px;
  }
}

@media (min-width: 600px) {
  .hero-gradient {
    width: 450px;
    height: 280px;
  }
  .slider-h {
    height:370px;
  }
}

@media (min-width: 650px) {
  .hero-gradient {
    width: 480px;
    height: 290px;
  }
  .slider-h {
    height:340px;
  }
}

@media (min-width: 700px) {
  .hero-gradient {
    width: 520px;
    height: 320px;
  }
  .slider-h {
    height:370px;
  }
}

@media (min-width: 750px) {
  .hero-gradient {
    width: 580px;
    height: 350px;
  }
  .slider-h {
    height:400px;
  }
}


@media (min-width: 768px) {
  .hero-gradient {
    width: 580px;
    height: 400px;
  }
  .slider-h {
    height:420px;
  }
}

@media (min-width: 820px) {
  .hero-gradient {
    width: 650px;
    height: 380px;
  }
  .slider-h {
    height:410px;
  }
}



@media (min-width: 850px) {
  .hero-gradient {
    width: 670px;
    height: 420px;
  }
  .slider-h {
    height:500px;
  }
}

@media (min-width: 860px) {
  .hero-gradient {
    width: 670px;
    height: 480px;
  }
  .slider-h {
    height:480px;
  }
}


@media (min-width: 932px) {
  .hero-gradient {
    width: 720px;
    height: 490px;
  }
  .slider-h {
    height:520px;
  }
}

@media (min-width: 992px) {
  .hero-gradient {
    width: 795px;
    height: 560px;
  }
  .slider-h {
    height:570px;
  }
}

@media (min-width: 1000px) {
  .hero-gradient {
    width: 785px;
    height: 550px;
  }
  .slider-h {
    height:570px;
  }
}

@media (min-width: 1024px) {
  .hero-gradient {
    width: 870px;
    height: 580px;
  }
  .slider-h {
    height:570px;
  }
}

@media (min-width: 1100px) {
  .hero-gradient {
    width: 920px;
    height: 580px;
  }
  .slider-h {
    height:650px;
  }
}

@media (min-width: 1150px) {
  .hero-gradient {
    width: 980px;
    height: 640px;
  }
  .slider-h {
    height:680px;
  }
}



@media (min-width: 1200px) {
  .hero-gradient {
    width: 1000px;
    height: 700px;
  }
  .slider-h {
    height:670px;
  }
}

@keyframes animate {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

.hero-gradient span{
  position: absolute;
  width: 100%;
  height: 100%;
  top:20px;
  border-radius: 50%;
  background: linear-gradient(#00B887, #01B6D3,#01B6D3);
}
.hero-gradient span:nth-child(1){
  filter: blur(5px);
}
.hero-gradient span:nth-child(2){
  filter:blur(10px);
}
.hero-gradient span:nth-child(3){
  filter:blur(25px);
}
.hero-gradient span:nth-child(4){
  filter:blur(50px);
}
.hero-gradient:after{
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
}

.block-to-fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.block-to-fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

/* line gardient */

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0) blur(30px)
  }

  100% {
    filter: hue-rotate(360deg) blur(30px)
  }
}

footer {
  position: relative;
}
.gradient-line:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  right: 0;
  bottom: 0px;
  height: 75px;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  background-image: conic-gradient(from 180deg at 50% 100%,transparent 0,transparent 27%,#ff3998 27%,#d764ff 36.04%,#00b5ff 58.23%,#0fd 63%,#54fa43 73%,transparent 73%,transparent 100%);
  animation: hueRotate 2.5s linear infinite;
}



.main {
  max-width: 100%;
  padding: 3em 1.5em;
}


.main__heading {
  font-weight: 600;
  /* font-size: 2.25em; */
  margin-bottom: 0.75em;
  text-align: center;
  color: #eceff1;
}



.cards {
  position: relative;
}

.cards__inner {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  gap: 2.5em;
  flex-wrap: wrap;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  /* background-color: #2b2b2b; */
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.card:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card:nth-child(2) {
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.card__bullets {
  line-height: 1.4;
}


.card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta2 {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta2 {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
  /* width:355px; */
}

:not(.overlay) > .card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
  /* background: hsla(var(--hsl), 0.1); */
}
 
.sliderH {
  height: 350px;

}

.image-gallery-image {
  height:350px;
  
}


.box {
  --border-size: 3px;
  --border-angle: 0turn;
  width: 100%;
  height: 40vmin;
  background-image: conic-gradient(from var(--border-angle), #00b887bf, #00b887bf 50%, #00b887bf), conic-gradient(from var(--border-angle), transparent 20%, #00ffbb, #00ffbb);
  background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: bg-spin 4s linear infinite;
          animation: bg-spin 4s linear infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

/* .box:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
} */

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}



.scroller {
  max-width: 100%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}



.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}


.scroller2 {
  max-width: 100%;
}

.scroller__inner2 {
  padding-block: 0rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller2[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller2[data-animated="true"] .scroller__inner2 {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller2[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller2[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller2[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller2[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */


.tag-list2 {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list2 li {
  padding: 1rem;
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}


:root {
	--speed: 10s;
	--transition: 0.15s;
}


main {
  padding: 0rem 0;
  width: 98%;
  margin:0 auto;
}

:root:has(#theme:checked) :is(body, .controls, .item) {
	background-color: hsl(0 0% 10%);
	color: hsl(0 0% 100%);
	border-color: hsl(0 0% 25%);
}
:root:has(#theme:checked) article {
	background-color: hsl(0 0% 10%);
	color: hsl(0 0% 100%);
	border-color: hsl(0 0% 25%);
	box-shadow: 0 10px 20px -5px hsl(0 0% 0% / 0.5);
}
:root:has(#theme:checked) .item {
	background-color: black;
}
:root:has(#theme:checked) li::before {
	background-color: black;
}



@keyframes shade {
	to {
		background-position: 100% 0;
	}
}

.header {
	display: grid;
	grid-template: auto 1fr / 6fr 4fr;
	gap: 1rem;
	margin-bottom: 2rem;
	transition: opacity 0.5s;
}

article a {
	align-self: start;
	text-decoration: none;
	justify-self: end;
	border-radius: 100px;
	padding: 0.5rem 2rem;
	border: 0;
	color: hsl(0 0% 100%);
	font-weight: 120;
	cursor: pointer;
	background: linear-gradient(to right, #9333ea, #db2777) 0 0 / 200% 100% no-repeat;
	transition: background-position 0.15s;
}

article a:is(:hover, :focus-visible) {
	background-position: 100% 0;
}

p {
	margin: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

[for=theme] {
	width: 48px;
	aspect-ratio: 1;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	display: grid;
	place-items: center;
}

[for=theme] svg {
	width: 75%;
}

#theme + svg path:first-of-type,
#theme:checked + svg path:last-of-type {
	opacity: 0;
}
#theme:checked + svg path:first-of-type {
	opacity: 1;
}

.controls {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 0.5rem;
	padding: 1rem;
	border: 1px solid hsl(0 0% 90%);
	border-radius: 6px;
	background: hsl(0 0% 100%);
	position: fixed;
	top: 1rem;
	right: 1rem;
  z-index: 2;
}

label, input {
	accent-color: #db2777;
	cursor: pointer;
}


.scene {
	--buff: 3rem;
	height: 100%;
	width: 100%;
	mask:
		linear-gradient(transparent, white var(--buff) calc(100% - var(--buff)), transparent),
		linear-gradient(90deg, transparent, white var(--buff) calc(100% - var(--buff)), transparent);
	mask-composite: intersect;
}

:root:has(#overflow:checked) .scene {
	mask: unset;
}
:root:has(#overflow:checked) .window {
	outline: 4px dashed #db2777;
}
:root:has(#overflow:checked) .header {
	opacity: 0.2;
}

.dev-link {
	width: 48px;
	aspect-ratio: 1;
	position: fixed;
	top: 1rem;
	left: 1rem;
	display: grid;
	place-items: center;
	color: currentColor;
}

.dev-link svg {
	width: 75%;
}

.grid3 {
	--count: 6; /* The number of items you have */
	--inset: 0; /* Controls the grid animation offset on entry/exit */
	--outset: 2.5;
  
	height: 100%;
	width: 100%;
	margin: 0;
	list-style-type: none;
	position: relative;
	display: grid;
	padding: 0 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0 2rem;
	transition: transform 0.5s;
	/*	3D translation */
	transform:
		rotateX(calc(var(--rotate, 0) * 20deg))
		rotateZ(calc(var(--rotate, 0) * -20deg))
		skewX(calc(var(--rotate, 0) * 20deg));
}

:root:has(#dimension:checked) .grid3 {
	--rotate: 1;
}

li {
	min-height: 60px;
	transform-style: preserve-3d;
	width: 100%;
	z-index: calc(1 + var(--active));
}
li::before {
	content: "";
	/* position: absolute; */
	inset: 4px 4px -2px -2px;
	border-radius: 6px;
	/* background: hsl(0 0% 100%); */
	filter: blur(calc(var(--active, 0) * 8px));
	z-index: -1;
	transition: scale var(--transition), opacity var(--transition), translate var(--transition), filter var(--transition);
	transform-origin: 50% 0;
	scale: 1 calc(1 + (var(--active, 0) * 0.05));
	--tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
}

.grid3:hover li {
	animation-play-state: paused;
}

.grid3 {
	/* transform-style: preserve-3d; */
	/* gap: rem; */
  height:230px;
}

.item {
	align-items: center;
	/* background: hsl(0 0% 100%); */
	border: 0px solid hsl(0 0% 90%);
	/* color: hsl(0 0% 10%); */
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	gap: 0rem;
	height: 100%;
	justify-content: start;
	overflow: hidden;
	/* padding: 1.25rem; */
  padding-left:8px;
  padding-right:8px;
	text-align: center;
	width: 100%;
	transition: transform var(--transition), scale var(--transition), background-color 0.25s, color 0.25s, border 0.25s, box-shadow 0.25s;;
	scale: calc(1 + (var(--active, 0) * 0.05));
	transform: translate3d(0, 0, calc(var(--active, 0) * 24px));
}
.item__icon {
	width: 24px;
}
.item__text {
	flex: 1;
	text-align: center;
}

li:nth-of-type(1) { --index: 0; }
li:nth-of-type(2) { --index: 0; }
li:nth-of-type(3) { --index: 1; }
li:nth-of-type(4) { --index: 1; }
li:nth-of-type(5) { --index: 2; }
li:nth-of-type(6) { --index: 2; }
li:nth-of-type(7) { --index: 3; }
li:nth-of-type(8) { --index: 3; }
li:nth-of-type(9) { --index: 4; }
li:nth-of-type(10) { --index: 4; }
li:nth-of-type(11) { --index: 5; }
li:nth-of-type(12) { --index: 5; }

@container (width < 400px) {
	.header {
		grid-template: auto 1fr / 1fr;
	}
	.header a {
		justify-self: start;
	}
	.grid {
		--count: 12;
		--inset: 0;
		--outset: 3;
		grid-template-columns: 1fr;
	}

	li:nth-of-type(1) { --index: 0; }
	li:nth-of-type(2) { --index: 1; }
	li:nth-of-type(3) { --index: 2; }
	li:nth-of-type(4) { --index: 3; }
	li:nth-of-type(5) { --index: 4; }
	li:nth-of-type(6) { --index: 5; }
	li:nth-of-type(7) { --index: 6; }
	li:nth-of-type(8) { --index: 7; }
	li:nth-of-type(9) { --index: 8; }
	li:nth-of-type(10) { --index: 9; }
	li:nth-of-type(11) { --index: 10; }
	li:nth-of-type(12) { --index: 11; }

	li {
		--duration: calc(var(--speed) * 2);
		--delay: calc((var(--duration) / var(--count)) * (var(--index, 0) - 8));
	}
}

@media(prefers-reduced-motion: no-preference) {

	li {
		--duration: calc(var(--speed) * 1);
		--delay: calc((var(--duration) / var(--count)) * (var(--index, 0) - 8));
		animation: slide var(--duration) var(--delay) infinite linear;
		translate: 0% calc(((var(--count) - var(--index)) + var(--inset, 0)) * 100%);
	}
	li:hover {
		--active: 0;
	}
	@keyframes slide {
		100% {
			translate: 0% calc(calc((var(--index) + var(--outset, 0)) * -100%));
		}
	}
	@container (width < 400px) {
		li {
			--duration: calc(var(--speed) * 2);
			--delay: calc((var(--duration) / var(--count)) * (var(--index, 0) - 8));
		}
	}
}



.cta {
	--extended: 100px;
	--border: 2px;
	--size: 50px;
	--starting-scale: 1.5;
	--bg: black;
	--color: hsl(0 0% 80%);
	background: transparent;
	border-radius: 9999px;
	bottom: 2rem;
	box-shadow: 0 10px 20px -5px hsl(0 0% 0% / 0.85);
	color: var(--color);
	display: flex;
	height: var(--size);
	outline: 4px solid transparent;
  z-index: 999;
	outline-offset: -4px;
  outline-width: 2px;
	overflow: hidden;
	place-items: center;
	position: fixed;
	right: 2rem;
	transform-origin: 100% 100%;
	transition: outline-color 0.2s, outline-offset 0.2s;
	width: var(--size);
}

.cta:is(:hover, :focus-visible) {
	outline-color: hsl(175 80% 50% / 0.65);
	outline-offset: 0;
  outline-width: 2px;
}

.cta::before {
	background: var(--bg);
	border: var(--border) solid transparent;
	border-radius: 9999px;
	content: "";
	inset: 0;
	position: absolute;
	z-index: -1;
}

.cta::after {
	background: linear-gradient(
		110deg,
		hsl(0 0% 30%) 50%,
		hsl(30 80% 50%),
		hsl(40 80% 50%),
		hsl(110 80% 50%),
		hsl(170 80% 50%),
		hsl(240 80% 50%),
		hsl(280 80% 50%),
		hsl(320 80% 50%)
	) 0% 50% / 200% 100% border-box;
	border: var(--border) solid transparent;
	border-radius: 9999px;
	box-shadow: 0 1px hsl(0 0% 100% / 0.75) inset;
	content: "";
	inset: 0;
	mask:
  	linear-gradient(#0000, #0000),
  	linear-gradient(#fff, #fff);
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
	position: absolute;
	z-index: 4;
}

.icon {
	aspect-ratio: 1;
	border-radius: 50%;
	display: grid;
	place-items: center;
	width: var(--size);
}

/* Glimmer over the top */
.icon::before {
	box-shadow: 0 1px hsl(0 0% 100% / 0.75) inset;
	background: linear-gradient(170deg, hsl(0 0% 100% / 0.2) 39.5%, transparent 40%) padding-box;
	border: 2px solid transparent;
	border-radius: 9999px;
	content: "";
	inset: 0;
	position: absolute;
	z-index: 5;
}

.icon::after {
	background: var(--bg);
	bottom: var(--border);
	border-radius: 9999px;
	content: "";
	left: var(--border);
	position: absolute;
	right: var(--border);
	top: var(--border);
	mask: radial-gradient(100% 100% at 0% 75%, transparent calc(100% - (var(--size) * 0.15)), white) 100% 50% / 48px 100% no-repeat;
	z-index: 2;
}

.icon svg {
	overflow: visible !important;
	translate: -10% 0;
	width: 50%;
}

.text2 {
	left: var(--size);
	position: absolute;
	text-align: center;
	white-space: nowrap;
}

/* All your CSS animation stuff goes here */
@supports(animation-timeline: scroll()) {
	@media(prefers-reduced-motion: no-preference) {
		/*	Scrub a custom property to scale the width down	*/
		@property --scrub {
		  syntax: '<number>';
		  inherits: true;
		  initial-value: 0;
		}
		body {
			animation: scrub both steps(1, end);
			animation-timeline: scroll(root);
			animation-range: 0vh 10vh;
		}
		.icon svg {
			animation: wave both linear 2;
			animation-timeline: scroll(root);
			animation-range: 30vh 50vh;
			transform-origin: 65% 75%;
		}
		.cta {
      z-index: 99;
			animation: shrink;
			animation-fill-mode: both;
			animation-timing-function: linear;
			animation-timeline: scroll(root);
			animation-range: 70vh 100vh;
			scale: var(--starting-scale);
			transition: --scrub 0.2s;
			width: calc(var(--size) + (var(--extended) * (1 - (var(--scrub) / 100))));
		}
		.cta::after {
			animation: flicker both linear;
		  animation-timeline: scroll(root);
		  animation-range: 70vh 100vh;
		}
		/* nav {
			animation: shade both linear;
			animation-timeline: scroll(root);
			animation-range: 0 25vh;
		} */
		.nav__content {
			display: block;
			position: absolute;
			left: 50%;
			width: var(--content-width);
			max-width: 100%;
			padding: 1rem;
			translate: -50% -100%;
			animation: drop both linear;
			animation-timeline: scroll(root);
			animation-range: 30vh 55vh;
		}
		@keyframes drop {
			to {
				translate: -50% 0;
			}
		}
		@keyframes shade {
			to {
				background: hsl(0 0% 8%);
				box-shadow: 0 10px 20px -5px black;
			}
		}
		@keyframes wave {
			50% {
				rotate: 20deg;
			}
		}
		@keyframes shrink {
			to {
				scale: 1;
			}
		}
		/*	Scroll triggered prop for CTA width	*/
		@keyframes scrub {
			to {
				--scrub: 100;
			}
		}
		@keyframes flicker {
			to {
				background-position: 200% 50%;
			}
		}
	}
}


@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0turn;
}
@keyframes conic-rotate {
  to {
    --angle: 1turn;
  }
}
.table-container {
  position: relative;
  display: flex;
  /* width: 100dvw; */
  height: calc(((var(--data-limit) + 1) * 2rem) + 10rem);
  /* height:50%; */
  transform-style: preserve-3d;
  box-shadow: inset 0 -0.5rem 1rem rgba(0, 18, 27, 0.5), inset 0 0 1rem rgba(127, 255, 212, 0.3);
  border: 2px solid rgba(127, 255, 212, 0.5);
  border-radius: 1rem;
  flex-direction: column;
}
.table-container::before {
  position: absolute;
  display: flex;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: conic-gradient(from var(--angle), #80FF80, rgba(127, 255, 212, 0.5), #80FF80, royalblue, #80FF80);
  filter: blur(0.5rem);
  transform: translatez(-2px);
  z-index: -2;
  opacity: 0.99;
  /* animation: conic-rotate 12s infinite linear; */
}
.table-container::after {
  position: absolute;
  display: flex;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 18, 27, 0.95);
  transform: translatez(-1px);
  z-index: -1;
  border-radius: inherit;
}

.table {
  position: relative;
  display: flow;
  width: 100%;
  padding: 1rem 0 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, transparent, rgba(128, 255, 128, 0.15), transparent);
  -webkit-background-image: linear-gradient(90deg, transparent, rgba(128, 255, 128, 0.15), transparent);
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.table .table-row {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: inherit;
  width: 100%;
  padding: 0 2rem;
  transition: opacity 0.5s;
}
.table .table-row:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.1);
}
.table .table-col {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: inherit;
  flex: 1 1 0;
  height: 2rem;
  justify-content: center;
  align-items: flex-start;
  color: #7FFFD4;
  text-shadow: 0 0 0.5rem rgba(127, 255, 212, 0.6);
  font-size: calc(0.390625vw + 12px);
  padding: 0 1rem;
  cursor: pointer;
  white-space: nowrap;
}
.table .table-col span {
  position: relative;
  display: flex;
  cursor: pointer;
}
.table .table-col span::before, .table .table-col span::after {
  position: absolute;
  display: flex;
  content: "";
  height: 70%;
  width: 0.3rem;
  border-top: 2px solid #7FFFD4;
  border-bottom: 2px solid #7FFFD4;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}
.table .table-col span::before {
  border-left: 2px solid #7FFFD4;
  left: 0;
  top: 50%;
  transform: translate(-0.5rem, -50%) scale(0.6) rotate(20deg);
}
.table .table-col span::after {
  border-right: 2px solid #7FFFD4;
  right: 0;
  top: 50%;
  transform: translate(0.5rem, -50%) scale(0.6) rotate(20deg);
}
.table .table-col span:hover::before {
  opacity: 1;
  transform: translate(-1rem, -50%) scale(0.8) rotate(0deg);
}
.table .table-col span:hover::after {
  opacity: 1;
  transform: translate(1rem, -50%) scale(0.8) rotate(0deg);
}
.table .table-heading .table-col {
  color: #80FF80 !important;
  text-shadow: 0 0 0.5rem rgba(128, 255, 128, 0.6);
  font-weight: 600;
  text-transform: uppercase;
}

.pagination-container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  flex-direction: column;
}

.pagination-wrapper {
  position: relative;
  display: flex;
  height: fit-content;
  overflow: hidden;
  justify-content: flex-start;
  width: 13rem;
}

.pagination {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.5s;
}
.pagination > li {
  position: relative;
  display: flex;
  width: 4rem;
  max-width: 4rem;
  flex: 0 0 auto;
  height: 3rem;
  justify-content: center;
  align-items: center;
  color: #80FF80;
  font-size: calc(0.390625vw + 18px);
  z-index: 5;
  cursor: pointer;
  user-select: none;
  text-shadow: 0 0 0.4rem rgba(128, 255, 128, 0.6);
}
.pagination > li span {
  pointer-events: none;
}
.pagination > li.active span {
  position: relative;
  display: flex;
  height: 2.5rem;
  padding: 0 1rem;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, rgba(128, 255, 128, 0.1), rgba(0, 18, 27, 0.4));
  border: 1px solid rgba(128, 255, 128, 0.3);
  color: #b2ffe5;
  border-radius: 5px;
  text-shadow: 0 0 0.4rem rgba(178, 255, 229, 0.6);
}

.pagination-info {
  position: absolute;
  display: flex;
  font-size: calc(0.390625vw + 10px);
  color: #acd3ac;
  bottom: 4.5rem;
  text-shadow: 0 0 0.5rem rgba(172, 211, 172, 0.5);
}

.pagination-extreme {
  position: relative;
  /* display: flex; */
  height: 3rem;
  /* width: 10rem; */
  border: none;
  background-color: transparent;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #80FF80;
  font-size: calc(0.390625vw + 15px);
  cursor: pointer;
  transition: transform 0.3s;
}
.pagination-extreme:hover {
  transform: scale(1.4);
}

.progress-bar {
  position: relative;
  display: flex;
  width: calc(100% - 6rem);
  height: 2px;
  background-color: rgba(127, 255, 212, 0.1);
  border-radius: 2px;
  margin: 0 3rem 2rem 3rem;
}
.progress-bar .progress-point {
  position: absolute;
  display: flex;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #004c32;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: left 0.5s;
}

.infos {
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 6rem;
  font-size: calc(0.390625vw + 12px);
  line-height: 24px;
  font-weight: 600;
  background-color: #80FF80;
  background-image: linear-gradient(45deg, royalblue, #80FF80, #7FFFD4);
  -webkit-background-image: linear-gradient(45deg, #80FF80, royalblue, #7FFFD4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 0.4rem rgba(127, 255, 212, 0.4);
}

.wwg {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0));
}